.foodItem {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
  }
  
  .title {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .button {
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  